name: check-pr

on:
  pull_request:
    branches:
      - main

jobs:
  check-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Setup Poetry
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: "2.1.3"

      - name: Install dependencies
        run: |
          poetry install --with dev

      - name: Run pyright checking
        run: |
          poetry run pyright src tests

      - name: Run linting
        run: |
          poetry run pylint ./src/**/*.py ./tests/**/*.py

      - name: Run tests
        run: |
          poetry run python test.py
